/*importing the same styles*/
@import "/css-black-panther/libs/variable.css";
@import "/css-black-panther/libs/fonts.css";
@import "/css-black-panther/libs/footer.css";

body{
    background:url('/Illustrations/Allpages/arrière_plan.png');
    background-size: cover;background-repeat: no-repeat;} 

.conteneurheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 05% 0% 05% 05%; 
    gap: 9rem;}


.conteneurimageheader{
    margin-right: 20%;
    display: flex;
    flex-direction: row; }

 .conteneurmenuheader{
    display: flex;
    flex-direction: row;
    gap: 5rem;
 } 

 .section1{
        background: url("/Illustrations/Wakanda/Pantherrwakanda1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh; } 
 .section1 h1{
  padding:5% 0 2% 5% ;
 }
 .section1 span{
  padding:0% 0 5% 5% ;
  
 }
 .section1 p{
  padding:3% 0 5% 5% ;
  width: 40%;
  text-align: justify;
 }

  .section2{
   display: flex;flex-direction: row;gap: 2rem;text-align: justify;padding-top: 0%;margin-left: 5%;margin-right: 10%;
         }


  #image1sec2{
    position: absolute;width: 90%;
  }       

  .section2left{
    margin-top: 10%;
   
  }

  .section2right{
    margin-top: 10%;
    width: 50%;
    
    
  }

  h3{
    font-family: 'beyno';
  color: var(--grisfonce);
  font-weight: normal;
  padding: 5% 0;
  }